<%- include('../../../layouts/adminHeader') %>

<%
//Format Number
function formatNumber(number){
    return number.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
}

//Capitalize Every first letter
const titleCase = (phrase) => {
    return phrase
            .toLowerCase()
            .split(' ')
            .map(word => word.charAt(0).toUpperCase() + word.slice(1))
            .join(' ');
};

%>

<br>


    <div class="container" id="printArea">



        <style>
            @media print {

                .details{
                    text-align: center;
                }
                .topHeader{
                    text-align: center;
                }
                h4{
                    margin-bottom: 0;
                    font-size: 1.5em;
                }
                .btn{
                    display: none;
                }
                table{
                    width: 100%;
                    border-collapse: collapse;
                    margin-top: 0;
                }
                th{
                    text-align: left;
                }

            }

            .strike-through{
                text-decoration: line-through;
            }
        </style>





        <div class="row">
            <div class="col">
                <button class="btn btn-success btn-sm mb-2" onclick="printInvoice();"><span class="fas fa-print"></span> Print</button>
                <div class="text-center details">
                    <span><b>CLEMONIC LIMITED</b></span><br>
                    <span>Profit & Loss Statement</span><br>
                    <span><b>From</b> <%= new Date(from).toDateString()%> <b>To</b> <%= new Date(to).toDateString() %></span>
                    <hr>
                </div>
                <div class="card shadow p-3 mb-5">


                    <h4 class="text-success mb-0"><b>Revenues</b></h4>
                    <div class="table-responsive">
                    <table class="table table-bordered table-sm mt-0">
                       <thead>
                       <tr>
                           <th>Truck</th>
                           <th>Sales</th>
                       </tr>
                       </thead>

                        <tbody>
                        <% const allSalesArray = [0] %>


                            <% for (const truck of trucks){ %>

                                <% const truckSaleArray = [0] %>

                                <tr>
                                    <td class="<%= truck.deleted ? 'strike-through text-danger' : ''%>"><%= truck.licenseNumber %></td>


                            <% for (const sale of sales){ //push each truck sale to truckSaleArray

                                if (sale.truck._id.toString() === truck._id.toString()){
                                    truckSaleArray.push(parseFloat(sale.amount));
                                }

                             }
                                //Filter expense to get truck expenses
                                const filterExpense = expenses.filter((exp) => {
                                    return exp.saleId !== "";
                                })

                                if (filterExpense.length > 0) {
                                    for (const filter of filterExpense){
                                        if (filter.truck._id.toString() === truck._id.toString()){
                                            truckSaleArray.push(parseFloat(filter.amount));
                                        }
                                    }

                                } //End of Filter expense to get truck expenses

                            %>


                                <%
                                    //sum up truck sale total
                                    const totalTruckSale = truckSaleArray.reduce((prev, current) => {
                                        return prev + current;
                                    })
                                    //Push to allSaleArray
                                allSalesArray.push(totalTruckSale)
                                %>

                                <td><%= formatNumber(totalTruckSale) %></td>

                                </tr>

                            <% } %>

                        <tr>
                            <%
                                //sum up All sale total
                                const allSaleTotal = allSalesArray.reduce((prev, current) => {
                                    return prev + current;
                                })
                            %>
                            <td><b>Total </b></td>
                            <td class="text-danger"><b>₵ <%= formatNumber(allSaleTotal) %></b></td>
                        </tr>

                        </tbody>

                    </table>
                    </div>





                    <!--    WORKING ON EXPENSES    -->
                    <h4 class="text-purple mb-0"><b>Expenses</b></h4>
                    <% const allExpenseTotalArray = [0] %>

                    <div class="table-responsive">
                    <table class="table table-bordered table-sm mt-0">

                        <thead>
                        <tr>
                            <th>Truck</th>
                            <% for(const type of types){ %>
                            <th><%= titleCase(type.name) %></th>
                            <% } %>
                            <th>Depreciation</th>
                            <th>Total</th>
                        </tr>
                        </thead>

                        <tbody>
            <% for(const truck of trucks){ %>

                <% const rowTotalArray = [0] %>

               <tr>
                <td class="<%= truck.deleted ? 'strike-through text-danger' : ''%>"><%= truck.licenseNumber %></td> <!--   Display truck number     -->

                   <% for(const type of types){

                       let typeArray = [0] //expense type total array

                       for (const expense of expenses){
                           if (expense.expenseType._id.toString() === type._id.toString() && truck._id.toString() === expense.truck._id.toString()){
                                typeArray.push(parseFloat(expense.amount))
                          }
                       }

                       //Get expense type in bill and push to type array
                   for (const bill of bills){
                       if (bill.type._id.toString() === type._id.toString() && truck._id.toString() === bill.truck._id.toString()){
                           typeArray.push(parseFloat(bill.amount))
                       }
                   }

                       const typeTotal = typeArray.reduce((prev, current) => { //sum up expense type total array
                           return prev + current
                       }) %>

                        <%
                            // push expense type total to rowTotalArray
                            rowTotalArray.push(typeTotal)
                        %>

                        <td><%= formatNumber(typeTotal) %></td>


                   <% } %>

                    <!--    Calculate Depreciation   -->
                   <%
                       const depArray = [0];

                    for(const dep of depreciation){

                        if (dep.truck._id.toString() === truck._id.toString()){
                            depArray.push(parseFloat(dep.amount))
                        }
                    }

                    //Sum up depreciation
                   const depreciationTotal = depArray.reduce((prev, current) => {
                       return prev + current;
                   })

                    %>
                   <td><%= formatNumber(depreciationTotal) %></td>

                   <%
                       // push depreciation total to rowTotalArray
                       rowTotalArray.push(depreciationTotal)
                   %>




                   <%
                   //Sum up row total
                   const TotalRow = rowTotalArray.reduce((prev, current) => {
                       return prev + current
                   })

                    %>

                        <!--   Display total for the row      -->
                   <td><%= formatNumber(TotalRow) %></td>

                   <%
                       // push TotalRow to allExpenseTotalArray
                       allExpenseTotalArray.push(TotalRow)
                   %>

                           </tr>

                        <% } %>

            <%
                // Sum up all expenses
            const allExpensesTotal = allExpenseTotalArray.reduce((prev, current) => {
                return prev + current
            })

            %>


                        </tbody>

                    </table>
                    </div>

                    <!--     display total expenses    -->
                    <div>
                        <span><b>Total Expenses:</b></span>
                        <span class="text-danger" style="margin-left: 15px;"><b>₵ <%= formatNumber(allExpensesTotal) %></b></span>
                    </div>

                    <!--     display Net Income  -->
                    <div>
                        <span><b>Net Income:</b></span>
                        <span class="text-danger" style="margin-left: 15px;"><b>₵ <%= formatNumber(allSaleTotal - allExpensesTotal) %></b></span>
                    </div>


                </div>
            </div>
        </div>
    </div>


<%- include('../../../layouts/adminFooter') %>




<script>
    // Printout
    function printInvoice(){

        const divtoprint = document.querySelector("#printArea");
        const newWindow = window.open('','Print-Window', 'height=600, width=1000');

        newWindow.document.open();
        newWindow.document.write("<html><body onload='window.print()'>"+divtoprint.innerHTML+"</body></html>");

        newWindow.document.close();

        setTimeout(function () {
            newWindow.close();
        },2000)

    }

</script>