<%- include('../../../layouts/adminHeader') %>

<%
//Format Number
function formatNumber(number){
    return number.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
}

//Capitalize Every first letter
const titleCase = (phrase) => {
    return phrase
            .toLowerCase()
            .split(' ')
            .map(word => word.charAt(0).toUpperCase() + word.slice(1))
            .join(' ');
};

%>

<br>

    <div class="container" id="printArea">

        <style>
            @media print {

                .details{
                    text-align: center;
                }
                .topHeader{
                    text-align: center;
                }
                h4{
                    margin-bottom: 0;
                    font-size: 1.5em;
                }
                .btn{
                    display: none;
                }
                table{
                    width: 100%;
                    border-collapse: collapse;
                    margin-top: 0;
                }
                th{
                    text-align: left;
                }


            }
        </style>





        <div class="row">
            <div class="col">
                <button class="btn btn-success btn-sm mb-2" onclick="printInvoice();"><span class="fas fa-print"></span> Print</button>
                <div class="text-center details">
                    <span><b>CLEMONIC LIMITED</b></span><br>
                    <span>Profit & Loss Single</span><br>
                    <span><b>From</b> <%= new Date(from).toDateString()%> <b>To</b> <%= new Date(to).toDateString() %></span>
                    <hr>
                </div>
                <div class="card shadow p-3">
                    <h3 style="text-align: center;">Truck: <b><%= truck.licenseNumber%></b></h3>
                    <h4 class="text-purple mb-0"><b>Revenues</b></h4>
                    <table class="table table-bordered table-sm mt-0">
                        <tr>

                            <% const totalSalesArray = [0];

                            for (const sale of sales){ //Get total sales
                                totalSalesArray.push(parseFloat(sale.amount));
                            }

                                //Filter expense to get truck expenses
                                const filterExpense = expenses.filter((exp) => {
                                    return exp.saleId !== "";
                                })

                                if (filterExpense.length > 0) {
                                    for (const filter of filterExpense){
                                        totalSalesArray.push(parseFloat(filter.amount));
                                    }

                                } //End of Filter expense to get truck expenses

                            //Sum up total sales
                            const totalSales = totalSalesArray.reduce((prev, current) => {
                                return prev + current;
                            })

                            %>

                            <th>Sales</th>
                            <td><%= formatNumber(totalSales) %></td>
                        </tr>

                        <tr>
                            <th class="text-danger">Total</th>
                            <td class="text-danger"><b>₵ <%= formatNumber(totalSales) %></b></td>
                        </tr>
                    </table>



                    <h4 class="text-purple mb-0"><b>Expenses</b></h4>
                    <% const allExpenseTotalArray = [0] %>
                    <table class="table table-bordered table-sm mt-0">

                            <% for (const type of types){ %>

                             <tr>
                                <th><%= titleCase(type.name) %></th>

                                <%
                                    const expTotalArray = [0];

                                    for (const expense of expenses){ //Get expense type amount
                                        if (expense.expenseType._id.toString() === type._id.toString()){
                                            expTotalArray.push(parseFloat(expense.amount))
                                        }
                                    }

                                //Get expense type in bill and push to expType array
                                for (const bill of bills){
                                    if (bill.type._id.toString() === type._id.toString()){
                                        expTotalArray.push(parseFloat(bill.amount))
                                    }
                                }

                                    //Get Expense total
                                const expTotal = expTotalArray.reduce((prev, current) => {
                                    return prev + current;
                                })

                                //pUSH TOTAL ALL EXPENSES ARRAY
                                allExpenseTotalArray.push(parseFloat(expTotal))
                                %>

                               <td><%= formatNumber(expTotal) %></td>

                             </tr>
                            <% } %>

                                <!--   WORKING ON DEPRECIATION    -->

                                <%
                                    const depArray = [0];

                                    for(const dep of depreciation){
                                            depArray.push(parseFloat(dep.amount))
                                    }

                                    //Sum up depreciation
                                    const depreciationTotal = depArray.reduce((prev, current) => {
                                        return prev + current;
                                    })
                                    //pUSH TOTAL ALL EXPENSES ARRAY
                                    allExpenseTotalArray.push(parseFloat(depreciationTotal))

                                %>

                                <tr>
                                    <th>Depreciation</th>
                                    <td><%= formatNumber(depreciationTotal) %></td>
                                </tr>

                                <%
                                    //Sum up row total
                                    const totalExpenses = allExpenseTotalArray.reduce((prev, current) => {
                                        return prev + current
                                    })

                                %>

                                <tr>
                                    <th class="text-danger">Total Expenses</th>
                                    <td class="text-danger"><b>₵ <%= formatNumber(totalExpenses) %></b></td>
                                </tr>

                                <!--     display Net Income  -->
                                <tr>
                                    <th class="text-danger">Net Income</th>
                                    <th class="text-danger">₵ <%= formatNumber(totalSales - totalExpenses) %></th>
                                </tr>
                          </table>


                </div>
            </div>
        </div>
    </div>





<%- include('../../../layouts/adminFooter') %>




<script>
    // Printout
    function printInvoice(){

        const divtoprint = document.querySelector("#printArea");
        const newWindow = window.open('','Print-Window', 'height=600, width=1000');

        newWindow.document.open();
        newWindow.document.write("<html><body onload='window.print()'>"+divtoprint.innerHTML+"</body></html>");

        newWindow.document.close();

        setTimeout(function () {
            newWindow.close();
        },2000)

    }

</script>