<%- include('../layouts/adminHeader'); %>
<br>

<%
//Function to format number
function formatNumber(amount){
    return amount.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
}

//Get Total income
const salesArray = [0];
for (const sale of sales){
    salesArray.push(parseFloat(sale.amount));
}
const totalSales = salesArray.reduce(function (previousValue, currentValue) {
    return previousValue + currentValue;
})



const fuelAndLubesArray = [0];
const insuranceAndRenewalsArray = [0];
const repairsAndMaintenanceArray = [0];
const roadExpensesArray = [0];
const wagesAndSalariesArray = [0];
const otherExpensesArray = [0];

//Total Expenses Array
const totalExpensesArray = [0];


for (const expense of expenses){

    totalExpensesArray.push(parseFloat(expense.amount));

    if (expense.transactionType === "fuelAndLubes"){ //Fuel and lubes
        fuelAndLubesArray.push(parseFloat(expense.amount));
    }

    if (expense.transactionType === "insuranceAndRenewals"){ //insurance and renewals
        insuranceAndRenewalsArray.push(parseFloat(expense.amount));
    }

    if (expense.transactionType === "repairsAndMaintenance"){ //repairs And Maintenance
        repairsAndMaintenanceArray.push(parseFloat(expense.amount));
    }

    if (expense.transactionType === "roadExpenses"){ //road Expenses
        roadExpensesArray.push(parseFloat(expense.amount));
    }

    if (expense.transactionType === "wagesAndSalaries"){ //wages And Salaries
        wagesAndSalariesArray.push(parseFloat(expense.amount));
    }

    if (expense.transactionType === "otherExpenses"){ //Other Expenses
        otherExpensesArray.push(parseFloat(expense.amount));
    }

}

//Getting Totals
const fuelAndLubesTotal = fuelAndLubesArray.reduce(function (previousValue, currentValue) { //Fuel and lubes
    return previousValue + currentValue;
})

const insuranceAndRenewalsTotal = insuranceAndRenewalsArray.reduce(function (previousValue, currentValue) { //insurance And Renewals
    return previousValue + currentValue;
})

const repairsAndMaintenanceTotal = repairsAndMaintenanceArray.reduce(function (previousValue, currentValue) {//Repairs and maintenance
    return previousValue + currentValue;
})

const roadExpensesTotal = roadExpensesArray.reduce(function (previousValue, currentValue) {//road expenses
    return previousValue + currentValue;
})

const wagesAndSalariesTotal = wagesAndSalariesArray.reduce(function (previousValue, currentValue) {//wages And Salaries
    return previousValue + currentValue;
})

const otherExpensesTotal = otherExpensesArray.reduce(function (previousValue, currentValue) {//other ExpensesArray
    return previousValue + currentValue;
})


//Total Expenses
const totalExpenses = totalExpensesArray.reduce(function (previousValue, currentValue) {
    return previousValue + currentValue;
})

%>


<!-- wrapper fro printout-->
<div id="printArea">


    <style>
        @media print {

            .topHeader{
                text-align: center;
            }
            .btn{
                display: none;
            }
            .table{
                width: 100%;
                border-collapse: collapse;
            }
            th{
                text-align: left;
            }
            th, td{
                border: 1px solid black;
                padding: 3px;
            }

        }
    </style>


    <div class="text-center mb-2 topHeader">
        <span class="text-center" style="font-size: 2em;"><b>CLEMONIC</b></span><br>
        <span class="text-center"><b>Profit And Loss</b></span><br>
        <span class="text-center"> from <b>Jan <%= new Date().getFullYear() %></b> to <b><%= new Date().toDateString() %></b></span>
    </div>




    <div class="container">
        <div class="row">
            <div class="col">
                <button class="btn btn-success btn-sm mb-2" onclick="printInvoice();"><span class="fas fa-print"></span> Print</button>
                <div class="card shadow p-3">

                    <h4 class="text-fuchsia"><b>PROFIT</b></h4>

                    <table class="table table-bordered table-sm">
                        <tr>
                            <th>Trucks Sales</th>
                            <td><%= formatNumber(totalSales)%></td>
                        </tr>

                        <tr>
                            <th class="text-danger">Total Income</th>
                            <td class="text-danger"><b>₵ <%= formatNumber(totalSales) %></b></td>
                        </tr>
                    </table>

                    <h4 class="text-purple"><b>LOSS</b></h4>
                    <table class="table table-bordered table-sm">
                        <tr>
                            <th>Fuel & Lubes</th>
                            <td><%= formatNumber(fuelAndLubesTotal)%></td>
                        </tr>
                        <tr>
                            <th>Insurance & Renewals</th>
                            <td><%= formatNumber(insuranceAndRenewalsTotal)%></td>
                        </tr>
                        <tr>
                            <th>Repairs & Maintenance</th>
                            <td><%= formatNumber(repairsAndMaintenanceTotal)%></td>
                        </tr>
                        <tr>
                            <th>Road Expenses</th>
                            <td><%= formatNumber(roadExpensesTotal)%></td>
                        </tr>
                        <tr>
                            <th>Wages & Salaries</th>
                            <td><%= formatNumber(wagesAndSalariesTotal)%></td>
                        </tr>
                        <tr>
                            <th>Other Expenses</th>
                            <td><%= formatNumber(otherExpensesTotal)%></td>
                        </tr>

                        <tr>
                            <th class="text-danger">Total Expenses</th>
                            <td class="text-danger"><b>₵ <%= formatNumber(totalExpenses) %></b></td>
                        </tr>
                    </table>


                </div>
            </div>
        </div>
    </div>



</div> <!-- ./Wrapper for printout -->

<%- include('../layouts/adminFooter'); %>

<script>
    // Printout
    function printInvoice(){

        const divtoprint = document.querySelector("#printArea");
        const newWindow = window.open('','Print-Window', 'height=600, width=1000');

        newWindow.document.open();
        newWindow.document.write("<html lang='en'><body onload='window.print()'>"+divtoprint.innerHTML+"</body></html>");

        newWindow.document.close();

        setTimeout(function () {
            newWindow.close();
        },2000)

    }

</script>