
<% if (parseInt(user.role) === 1 || parseInt(user.role) === 2){ %>

    <%- include('../../layouts/adminHeader') %>

<% } else { %>

    <%- include('../../layouts/userHeader') %>

<% } %>
<br>




<div class="container">
    <div class="row">
        <div class="col">
            <div class="card shadow p-3">
                <h3 class="text-center">Last 5 Depreciation Records</h3>

                <div class="table-responsive">

                    <table class="table table-hover table-sm">

                        <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Truck#</th>
                            <th>Date</th>
                            <th>Amount</th>



                        </tr>
                        </thead>

                        <tbody>
                        <% let counter = 1 %>
                        <% for(let dep of depreciation) { %>

                            <tr>
                                <td><%= counter %></td>
                                <td><%= dep.truck.licenseNumber %></td>
                                <td><%= moment(dep.date).format('MMMM, YYYY') %></td>
                                <td><%= dep.amount.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') %></td>
                            </tr>

                            <% counter++ %>
                        <% } %>
                        </tbody>

                    </table>

                </div>

            </div>
        </div>
    </div>
</div>






<%- include('../../layouts/adminFooter') %>