
<% if (parseInt(user.role) ===1 || parseInt(user.role) === 2){ %>

    <%- include('../../layouts/adminHeader') %>

<% } else { %>

    <%- include('../../layouts/userHeader') %>

<% } %>
<style>
    .makeVisible{
        display: block;
    }

    .makeHidden{
        display: none;
    }
</style>

<br>
<h2 class="text-sm-center"><span class="fas fa-money-check"></span> Expenses</h2>

<div class="container">
    <div class="row">
        <div class="col">

<div class="card shadow p-3">
            <!-- ./Form -->
            <form action="/admin/expenses/store" method="post" class="myform">

                <div class="row">
                    <div class="form-group  col-md-3">
                        <label for="truck">Truck Number</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-sort-numeric-down-alt"></i>
                                </div>
                            </div>
                            <select name="truck" id="truck" class="form-control selectpicker"
                                    data-live-search="true"
                                    title="Select a truck"
                                    required
                            >

                                <!--                                <option value=""></option>-->

                                <% for(let truck of trucks){ %>
                                    <option value="<%= truck._id %>"><%= truck.licenseNumber %></option>
                                <% } %>

                            </select>
                        </div>
                    </div>
                            <!--  Expense Type  -->
                    <div class="form-group  col-md-3">
                        <label for="type">Expense Type

                            <% if (parseInt(user.role) === 1 ){ %>
                                <span><a href="/expenseType">Create New</a></span>
                            <% } %>

                        </label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-sort-numeric-down-alt"></i>
                                </div>
                            </div>
                            <select name="type" id="type" class="form-control" required>

                                <option value="">--Select Option--</option>

                                <% for(const expenseType of expenseTypes){ %>
                                    <option value="<%= expenseType._id %>"><%= expenseType.name %></option>
                                <% } %>

                            </select>
                        </div>
                    </div>


                    <div class="form-group  col-md-3">
                        <label for="date">Date</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-calendar"></i>
                                </div>
                            </div>
                            <input class="form-control" required="required" autocomplete="off" name="date" type="date" id="date">
                        </div>
                    </div>

                    <div class="form-group  col-md-3">
                        <label for="amount">Amount</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    ₵
                                </div>
                            </div>
                            <input class="form-control" required="required" min="0" step="0.01" name="amount" autocomplete="off" type="number" value="" id="amount">
                        </div>
                    </div>

                    <div class="form-group  col-md-4">
                        <label>Mode Of Payment</label>
                        <div class="input-group">

                            <label class="form-check-label">Cash
                                <input type="radio" class="form-check-inline mode" name="mode" value="cash" required>
                            </label>

                            <label class="form-check-label">Bank
                                <input type="radio" class="form-check-inline mode" name="mode" value="bank" required>
                            </label>

                        </div>
                    </div>


                    <div class="form-group  col-md-4 makeHidden" id="toggleVisibility">
                        <label for="bank">Bank Account</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-building"></i>
                                </div>
                            </div>
                            <select name="bank" id="bank" class="form-control">
                                <option value=""></option>
                                <% for(let bank of banks){ %>
                                    <option value="<%= bank._id %>"><%= bank.bankName + ' **** ' + bank.accountNumber  %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>


                    <div class="form-group  col-md-4">
                        <label for="description">Description</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-list"></i>
                                </div>
                            </div>
                            <textarea class="form-control" name="description" id="description" cols="30" rows="1" autocomplete="off"></textarea>
                        </div>
                    </div>



                    <div class="form-group col-md-12 text-right">
                        <input class="btn btn-primary btn-block mybtn" type="submit" value="Save">
                    </div>

                </div>
            </form> <!-- ./Form -->

        </div>
        </div>
    </div>
</div>

<br>




<!-- Container for table -->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card shadow p-3">

                <h6><a href="/admin/expenses/lastFive">View Last 5 Records</a></h6>
            <div class="table-responsive">
                <table class="table table-hover table-sm" id="myTable">

                    <thead class="thead-dark">
                    <tr>
                        <th>Truck#</th>
                        <th>Date</th>
                        <th>Mode Of Payment</th>
                        <th>Amount</th>
                        <th>Expense Type</th>
                        <th>Description</th>

                    <% if (parseInt(user.role) ===1 ){ %>
                        <th></th>
                    <% } %>

                    </tr>
                    </thead>

                    <tbody>

                    <% for(const expense of expenses){ %>

                        <tr>
                        <td><%= expense.truck.licenseNumber %></td>
                        <td><%= new Date(expense.date).toDateString() %></td>
                        <td><%= expense.bank !== "" ? expense.bank : "Cash" %></td>
                        <td><%= expense.amount.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') %></td>
                        <td><%= expense.expenseType.name %></td>
                        <td><a data-toggle="modal" data-target="#view<%= expense._id %>" href=""><%= expense.description.slice(0,15).concat("...") %></a></td>

                    <% if (parseInt(user.role) ===1 ){ %>
                        <td>
                            <button data-toggle="modal" data-target="#del<%= expense._id %>" class="btn btn-danger btn-sm">
                                <span class="fas fa-trash-alt"></span>
                            </button>
                        </td>
                    <% } %>

                        </tr>

                        <!--  Modal for deleting record -->
                        <div class="modal fade" id="del<%= expense._id %>" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
                            <br><br>
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-center text-danger" id="exampleModalLabel"><i class="fas fa-trash"></i><span class="text-danger"> Delete This Record</span></h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <form action="/admin/expenses/<%= expense._id %>?_method=DELETE" method="post" class="myform">
                                        <div class="modal-body">

                                            Are you sure you want to delete this record?

                                            <div class="col-md-12 text-right">
                                                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                                                <input type="submit" class="btn btn-danger btn-sm mybtn" value="Delete">

                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div> <!-- ./delete modal -->



                        <!-- View Modal -->
                        <div class="modal fade" id="view<%= expense._id %>" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
                            <br><br>
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">

                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                        <div class="modal-body text-center">

                                            <%= expense.description %>

                                        </div>
                                </div>

                            </div>
                        </div> <!-- ./view modal -->

                    <% } %>


                    </tbody>

                </table>
            </div>
        </div>
        </div>
    </div>
</div>
<br><br>



<%- include('../../layouts/adminFooter') %>


<script>




         const modes = document.querySelectorAll(".mode");
         const toggleVisibility = document.querySelector("#toggleVisibility");
         const bank = document.querySelector("#bank");



         for (let mode of modes) {
             mode.onclick = function (){
                 if (this.value === "bank"){
                     toggleVisibility.classList.remove("makeHidden");
                     toggleVisibility.classList.add("makeVisible");
                     bank.required = "required";
                 }else {
                     bank.required = undefined;
                     toggleVisibility.classList.remove("makeVisible");
                     toggleVisibility.classList.add("makeHidden");
                 }
             }
         }



</script>