
<% if (parseInt(user.role) === 1 || parseInt(user.role) === 2){ %>

    <%- include('../../layouts/adminHeader') %>

<% } else { %>

    <%- include('../../layouts/userHeader') %>

<% } %>
<br>




<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card shadow p-3">
                <h3 class="text-center">Last 5 Expense Records</h3>

                <div class="table-responsive">

                    <table class="table table-hover table-sm">

                        <thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th>Truck#</th>
                            <th>Date</th>
                            <th>Mode Of Payment</th>
                            <th>Bank</th>
                            <th>Amount</th>
                            <th>Expense Type</th>
                            <th>Description</th>
                        </tr>
                        </thead>

                        <tbody>
                        <% let counter = 1 %>
                        <% for(let expense of expenses) { %>

                            <tr>
                                <td><%= counter %></td>
                                <td><%= expense.truck.licenseNumber %></td>
                                <td><%= new Date(expense.date).toDateString() %></td>
                                <td><%= expense.mode %></td>
                                <td><%= expense.bank !== "" ? expense.bank : "..." %></td>
                                <td><b>₵ </b><%= expense.amount.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,') %></td>
                                <td><%= expense.expenseType.name %></td>
                                <td><%= expense.description.slice(0,15).concat("...") %></td>


                            </tr>



                            <% counter++ %>
                        <% } %>
                        </tbody>

                    </table>

                </div>

            </div>
        </div>
    </div>
</div>






<%- include('../../layouts/adminFooter') %>